---
const {class: className} = Astro.props
---

<div>
	<p id="clock"
	   class:list={[className]}></p>
</div>

<script>
function updateTime() {
	const clockElement = document.getElementById('clock');
	if (clockElement) {
		const now = new Date()
		clockElement.textContent = now.toLocaleTimeString('en-US', {
			timeZone: 'America/Denver',
			hour: 'numeric',
			minute: '2-digit',
			second: '2-digit',
			timeZoneName: 'short'
		});
	}
}

setInterval(updateTime, 1000);
updateTime();
</script>
